{% extends "blog/base_blog.html" %}
{% block head_content %}
<script type="application/ld+json">
        {
             "@context": "https://schema.org/",
             "@type": "HowTo",
             "name": "how to create a secret message link in twitter",
             "step": [
                  {
                       "@type": "HowToStep",
                       "text": "Enter your name in the guest login page",
                       "image": "https://veilmsg.pythonanywhere.com/static/veil-step-1.png",
                       "name": "Enter your name in the guest login page"
                  },
                  {
                       "@type": "HowToStep",
                       "text": "share your unique veil-link on Twitter by clicking the Twitter icon",
                       "image": "https://veilmsg.pythonanywhere.com/static/veil-step-2.png",
                       "name": "Share your secret veil link on twitter"
                  },
                  {
                       "@type": "HowToStep",
                       "text": "Go to your inbox page and see your secret messages",
                       "image": "https://veilmsg.pythonanywhere.com/static/veil-step-3.png",
                       "name": "Go to your inbox page and see your secret messages"
                  }
             ],
             "description": "In this blog post, we'll show you how to create a secret message link on Twitter so you can have private conversations and keep your identity hidden."
        }
</script>
{% endblock %}
{% block blog_content %}

    <style>
        h1 {
         color :var(--base-text-dark);
        }
        .steps-cont {
            width :100%;
            margin : 0 0 1em 0;

            display : grid;
            grid-template-columns : 1fr;
            place-items : center start;
            grid-gap: 1em;
        }
        .steps-cont img {
            width : 100%;
            border-radius: 1em;
            box-shadow: 0 0 1em #bbbbbb;
        }
    </style>
    <!--
    <div class="blog-hero landing-stiff">
        <div class="bread-crumbs">
            <a class="crumb" href="/home">Home</a>
            <i class="bi-slash-lg"></i>
            <a class="crumb" href="/blog">Blog</a>
            <i class="bi-slash-lg"></i>
            <p class="crumb">{{ blog.slug }}</p>
        </div>
        <h1>{{ blog.title }}</h1>
    </div> -->
    <div class="blog-bowl stiff">
        <div class="blog-hero">
        <h1>{{ blog.title }}</h1>
        </div>
       <div class="blog-cont guest-form-bowl">
            <h2>Create Your Secret Message Link</h2>
            <form class="guest-form" method="post" action="/guest/"> {% csrf_token %}
                <input type="text" name="name" id="name" value="" placeholder="Enter Your Name" autocapitalize="off" required="">
                <button type="submit">Create Your Secret Link</button>
            </form>
        </div>
        <div class="blog-cont">
            <p>Hey, Twitter users! Do you ever wish you could receive messages from someone without revealing their identity? Or maybe you want to have a private conversation without others knowing? Secret message links are the answer!
                <br><br>
                With <a href='/blog/secret-message-link'>secret message links</a>, you can receive messages from anyone without revealing their identity. It's like having a secret admirer or pen pal on Twitter! In this blog post, we'll show you how to create a secret message link on Twitter so you can have private conversations and keep your identity hidden.
                <br><br>
                So, get ready to unlock the power of anonymity and let's dive into the world of secret message links on Twitter!</p>
        </div>
        <div class="blog-cont">
            <h2>How to create secret message link for twitter</h2>
            <div class="steps-cont">
                <h3>Step 1 : Enter your name</h3>
                <p>To start receiving anonymous messages on Twitter, <a href="/">simply enter your name here</a> in less than a minute your guest account will be created, and you're ready to go!</p>
                <img src="/static/veil-step-1.png" alt="veil account creation">
            </div>
            <div class="steps-cont">
                <h3>Step 2 : Share your secret veil link on twitter</h3>
                <p>After creating your Veil account, share your unique veil-link on Twitter by <b>clicking the Twitter icon</b>. This will allow your followers to send you anonymous messages without revealing their identity.</p>
                <img src="/static/veil-step-2.png" alt="veil share link to twitter">
            </div>
            <div class="steps-cont">
                <h3>Step 3 : Go to your inbox page and see your secret messages</h3>
                <p>Time to sit back and let the messages roll in! After sharing your secret message link on Twitter, just <b>click the chat icon to access your Veil account inbox</b>. It's like a surprise party, but instead of balloons and confetti, you get a flood of messages from your followers. So grab a snack and get ready to read and respond to all those juicy messages!</p>
                <img src="/static/veil-step-3.png" alt="veil inbox for messages ">
            </div>
        </div>
        <div class="blog-cont">
            <h2>Conclusion</h2>
            <p>In conclusion, Veil is a secure and user-friendly platform that enables you to receive secret anonymous messages on Twitter. By following the simple three-step process, you can create your secret messaging veil account, share your unique secret veil-link on Twitter, and start receiving anonymous messages from your followers without revealing their identity. With Veil, you can enjoy the freedom to express yourself and share your secrets without any fear of being exposed. So why wait? <a href="/">Sign up for Veil</a> today and experience the thrill of secret anonymous messaging!</p>
        </div>
        <div class="blog-cont">
            <h2>FAQs</h2>
            <div class="faq-cont">
                <p><b>What is a secret message link ?</b></p>
                <p>A secret message link is a link that allows you to receive anonymous messages or questions from your followers on social media, such as Twitter. By sharing this link, your followers can connect with you anonymously without revealing their identity.</p>
            </div>
            <div class="faq-cont">
                <p><b>Is secret messages safe ?</b></p>
                <p>Yes, secret messages are safe with Veil. Veil is a secure and user-friendly platform that uses encryption and other security protocols to ensure privacy and protect your messages. With Veil, you can send and receive secret messages in a safe and secure way, allowing you to share sensitive information with confidence. So, if you're looking for a safe and secure way to send and receive secret messages, Veil is a great option to consider.</p>
            </div>
            <div class="faq-cont">
                <p><b>Are my messages anonymous ?</b></p>
                <p>Yes, your secret messages are anonymous with Veil. When you send a message using Veil's secret messaging feature, your identity is kept anonymous, and your message is sent through an encrypted channel, which ensures privacy and security. Similarly, when you receive a message through Veil, the sender's identity remains anonymous, providing an extra layer of security and privacy. So, if you're looking for a safe and anonymous way to send and receive secret messages, Veil is a great option to consider.</p>
            </div>
        </div>
    </div>


{% endblock %}