{% extends "blog/base_blog.html" %}
{% block head_content %}
        <script type="application/ld+json">
        {
             "@context": "https://schema.org/",
             "@type": "HowTo",
             "name": "how to create a secret message link",
             "step": [
                  {
                       "@type": "HowToStep",
                       "text": "Enter your name in the guest login page",
                       "image": "https://veilmsg.pythonanywhere.com/static/veil-step-1.png",
                       "name": "Enter your name in the guest login page"
                  },
                  {
                       "@type": "HowToStep",
                       "text": "share your unique veil-link on Twitter, WhatsApp by clicking the share icon",
                       "image": "https://veilmsg.pythonanywhere.com/static/veil-step-2.png",
                       "name": "Share your secret veil link on twitter"
                  },
                  {
                       "@type": "HowToStep",
                       "text": "Go to your inbox page and see your secret messages",
                       "image": "https://veilmsg.pythonanywhere.com/static/veil-step-3.png",
                       "name": "Go to your inbox page and see your secret messages"
                  }
             ],
             "description": "In this blog post, we'll show you how to create a secret message link on Twitter so you can have private conversations and keep your identity hidden."
        }
        </script>
{% endblock %}
{% block blog_content %}

    <style>
        h1 {
            color : var(--base-text-dark);
        }
        .hide {
            display : none;
        }
        .steps-cont {
            width :100%;

            display : grid;
            grid-template-columns : 1fr;
            place-items : center start;
            grid-gap: 1em;
        }
        .steps-cont img {
            width : 100%;
            border-radius: 1em;
        }
    </style>
    <div class="blog-bowl stiff">
        <div class="blog-hero">
            <h1>{{ blog.title }}</h1>
        </div>
        <div class="blog-cont guest-form-bowl">
            <h2>Create Your Secret Message Link</h2>
            <form class="guest-form" method="post" action="/guest/"> {% csrf_token %}
                <input type="text" name="name" id="name" value="" placeholder="Enter Your Name" autocapitalize="off" required="">
                <button type="submit">Create Your Secret Link</button>
            </form>
        </div>
        <div class="blog-cont">
            <h2>Steps to create secret message link</h2>
            <div class="steps-cont">
                <h3 class="highlight" onclick="this.nextElementSibling.classList.toggle('hide')">Step 1 : Enter your name <i class='bi-chevron-down'></i></h3>
                <div class='toggle-cont hide'>
                    <p>To create secret message link on VeilMsg, just <a href="/">enter your name here</a> and click submit. Your guest account will be created and an anonymous message link will be generated in less than a minute.</p>
                    <img src="/static/veil-step-1.png" alt="veil account creation">
                </div>
            </div>
            <div class="steps-cont">
                <h3 class="highlight" onclick="this.nextElementSibling.classList.toggle('hide')">Step 2 : Share your secret message link on whatsapp, facebook <i class='bi-chevron-down'></i></h3>
                <div class='toggle-cont hide'>
                    <p>As you have a Veil account, now <b>click the share icon</b> to share your unique message link. You can then share this link on your favorite platforms, such as WhatsApp or Facebook, to allow your followers to send you anonymous messages.</p>
                    <img src="/static/veil-step-2.png" alt="share secret message link">
                </div>
            </div>
            <div class="steps-cont">
                <h3 class="highlight" onclick="this.nextElementSibling.classList.toggle('hide')">Step 3 : See your Secret Messages in the Inbox page <i class='bi-chevron-down'></i></h3>
                <div class='toggle-cont hide'>
                    <p>Ready to receive some juicy anonymous messages? Once you've shared your secret message link on WhatsApp, simply <b>click the chat icon</b> at the top to access your Veil inbox. Grab a snack and get ready to have a crazy time!</p>
                    <img src="/static/veil-step-3.png" alt="veil inbox for messages ">
                </div>
            </div>
        </div>
        <div class="blog-cont">
            <h2>Conclusion</h2>
            <p>Veil is a secure and user-friendly platform that lets you receive anonymous messages on WhatsApp, Facebook, Twitter, etc. In just three steps, you can create a Veil account, generate and share your unique secret message link on your favourite social media, and start receiving anonymous messages without revealing anyone's identity. With Veil, you can express yourself and share your secrets without fear of being exposed.
                <br><br>
                So <a href="/">generate your secret Veil link</a> today and experience the thrill of secret anonymous messaging! </p>
        </div>
        <div class="blog-cont">
            <h2>FAQs</h2>
            <div class="faq-cont">
                <p><b>What is a secret message link ?</b></p>
                <p>A secret message link is a link that lets you receive anonymous messages on social media. Share the link, and your followers can connect with you without revealing their identity.</p>
            </div>
            <div class="faq-cont">
                <p><b>How to see secret messsage link ?</b></p>
                <p>If you already have a veil account, you can see the secret message link in the <a href="/home/">home page</a> itself, else <a href="/">create a guest account</a>. You can now copy or share that secret message link to whatsapp, facebook, twitter by clicking the share icon.</p>
            </div>
            <div class="faq-cont">
                <p><b>How do I get a secret message link ?</b></p>
                <p>You can get a secret message link by <a href="/">entering your name here</a>. It hardly takes a minute.</p>
            </div>
            <div class="faq-cont">
                <p><b>How do you send a <a href="https://zynger-entertainment.jimdosite.com/blog/secret-message-link-twitter/">secret message on twitter</a>?</b></p>
                <p>If your friend sends thier secret message link, click that link and you can directly enter your message in the secret message box. Find a detailed explanation on <a href="/blog/how-to-create-secret-message-link-twitter">how to share a secret message link to twitter</a> here.</p>
            </div>
            <div class="faq-cont">
                <p><b>Where can I submit my queries ?</b></p>
                <p>You can send your queries or suggestions to the <a href="/user/admin/">admin</a> directly.</p>
            </div>


        </div>
    </div>
    <script>

    </script>


{% endblock %}