{% extends "base_index.html" %}
{% block content %}

  <style>
    .inbox-bowl {
      width : 100%;
      background : var(--base-bg-dark);
    }
    .inbox-cont {
      width : 100%;
      padding : 1.5rem; 

      display : grid;
      grid-template-columns: repeat(auto-fill,minmax(130px,1fr));
      place-items: center start;
      grid-gap : 1.5em 1em;
    }
    .inbox-cont h2 {
      grid-column : 1/-1;
      margin : .75em 0;
      text-transform: lowercase;
    }
    .inbox-box {
      width : 100%;
      background : var(--base-grad);
      border-radius: 1em;
      text-decoration: none;

      display : flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      gap : 1em;
    } 
    .inbox-box-top {
      width : 100%;
      padding : .75em;
      color : var(--base-bg-light);
    }
    .inbox-box-bottom {
      width : 100%; 
      background : transparent;
      padding : .75em; 
      border-top : .1em solid var(--t4);
      border-radius : 0 0 1em 1em;
      color : var(--gray-light);

      display : flex;
      justify-content: space-between;
      align-items: center;
      gap : 1em;
    } 

    .opened  {
      background : var(--base-bg-light) !important;
      color : var(--gray-dark) ;
    }
    .opened > .inbox-box-bottom { 
      color : var(--gray-dark);
    }
    .opened .inbox-box-top {
      color : inherit;
    }
    .notif  {
      background : var(--base-grad-orange) ;
    }
    .viewonce {
      position : relative; 
    }
    .viewonce::after {
      content : "🔥";
      position : absolute;
      bottom : .35em;
      right : .3em;
      font-size: 1.5rem;
    }


  </style>
  <div class="inbox-bowl">
    <div class="inbox-cont stiff">
      {% if dms %}
        <h2>Your messages </h2>
      {% else %}
        <h2>Your inbox is cleaner than your room 😂</h2>
      {% endif %}
      {% for dm in dms %}   
        <a href="{% url 'dmView' dm.id %}" class="inbox-box
        {% if  dm.opened %}
          opened 
        {% endif %} 

        {% if dm.isNotif %}
          notif
        {% endif %} 

        {% if dm.viewOnce %}
          viewonce
        {% endif %}
        ">
          <div class="inbox-box-top">
            <p>
            {% if dm.isNotif %}
              by veil_admin
            {% else %} 
              by anonymous
            {% endif %}  
            </p>
          </div>
          <div class="inbox-box-bottom">  
            <p>open</p> 
            <i class="bi-chevron-right"></i>
          </div>
        </a>
      {% endfor %}
    </div>
  </div> 
  <div class="ad">
    <script type="text/javascript">
        atOptions = {
          'key' : 'acbfb0d70caf0bed678ee4f8530f66ca',
          'format' : 'iframe',
          'height' : 250,
          'width' : 300,
          'params' : {}
        };
        document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/acbfb0d70caf0bed678ee4f8530f66ca/invoke.js"></scr' + 'ipt>');
    </script>
  </div>

{% endblock %}