{% extends "base.html" %}
{% block base_content %}
  {% include "base_header.html" %}
  <style>
    .main-bowl {
      width : 100%;
      padding : 3.5em 2em;

      display: grid;
      grid-template-columns: 1fr;
      place-items: center;
      grid-gap: 1.25em;
    }
    .main-bowl h2 {
      font-size: 1.5em;
      font-weight: 1000;
      color : var(--base-text-dark);
      width : 100%;
    }
    .login-bowl {
      width: 100%;
      max-width: 350px;

      display: grid;
      grid-template-columns: 1fr;
      place-items: center;
      grid-gap: .65em;
    }
    .password-cont {
      width : 100%;

      display: grid;
      grid-template-columns: 1fr 2em;
      place-items: center;
    }
    .password-cont button {
      width : 100%;
      height : 100%;
      font-size: 1.25em;
      border : none;
      outline : none;
      background: none;
      color : var(--base-text-mid);
    }
  </style>
  <div class="main-bowl stiff">
    <h2>Login</h2>
    <form class="login-bowl" id="loginForm" action="" method="post" autocomplete="nope"> {% csrf_token %}
      <input type="text" class="veil-input" name="username" id="username" value="" placeholder="Username or email" autocapitalize="off" required />
      <div class="password-cont">
        <input type="password" class="veil-input" name="password" id="password" value="" placeholder="Password" minlength="6" required/>
        <button type="button" class="password-toggle-button" onclick="togglePassword()"><i class="bi-eye-slash-fill password-toggle-icon"></i></button>
      </div>
      <div class="register-cont">
        <p class="error">{{ error }}</p>
      </div>
      <div class="register-cont">
        <a href="/pwd_reset/">Forgot Password ?</a>
      </div>
      <input type="submit" class="veil-button" name="button" id="button" value="Submit"/>
      <div class="register-cont">
        <a href="/signup/">Create an account ?</a>
      </div>
    <form>
  </div>
  <script>
    var errp = document.querySelector(".error")
    var pwd = document.getElementById("password")
    var sbtn = document.getElementById("button")

    document.querySelector("#loginForm").addEventListener("submit", (event) => {
      event.preventDefault();
      if ( pwd.value.length < 6 ) {
        errp.innerHTML = "Password should atleast have 6 characters !"
      }else {
        sbtn.value = "Submitting ...";
        sbtn.disabled = true;
        document.querySelector("#loginForm").submit();
      }
    })

    function togglePassword(){
      if (pwd.type == "text" ) {
        pwd.type = "password"
      }else {
        pwd.type = "text"
      }
      document.querySelector(".password-toggle-icon").classList.toggle("bi-eye-fill")
      document.querySelector(".password-toggle-icon").classList.toggle("bi-eye-slash-fill")
    }
  </script>

{% endblock %}