{% extends "base.html" %}
{% block base_content %}
<br>
    <p> At veil, we are committed to protecting the privacy of our users.
        <br>
        This Privacy Policy explains how we collect, use, and protect your personal information when you use our website veil ( veilmsg.pythonanywhere.com ).
        <br><br>
        <h2>Collection of Information</h2>
        We collect personal information that you voluntarily provide to us when you use the Site, such as your name and email address. Additionally, we automatically collect certain information about your visit to our Site, including your IP address and other usage information.
        <br><br>
        <h2>Use of Information</h2>
        We use the information that we collect to provide and improve our services to you. We may use your name and email address to contact you about new features, products, or services that we think you may be interested in. We also use your IP address and other usage information to help diagnose problems with our servers, to administer the Site, and to analyze trends and user traffic.
        <br><br>
        <h2>Disclosure of Information</h2>
        We do not sell, trade, or otherwise transfer your personal information to outside parties. However, we may share your information with third-party service providers who assist us in operating our Site, conducting our business, or serving you, as long as these parties agree to keep this information confidential. We may also release your information when we believe it is necessary to comply with the law, enforce our Site policies, or protect ours or others' rights, property, or safety.
        <br><br>
        <h2>Protection of Information</h2>
        We implement a variety of security measures to maintain the safety of your personal information when you enter, submit, or access your personal information. We also take reasonable steps to ensure that third-party service providers who have access to your personal information also implement reasonable security measures.
        <br><br>
        <h2>Cookies</h2>
        We use cookies to enhance your experience on our Site. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information.
        <br><br>
        <h2>Third-Party Links</h2>
        Occasionally, at our discretion, we may include or offer third-party products or services on our Site. These third-party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our Site and welcome any feedback about these sites.
        <br><br>
        <h2>Changes to Our Privacy Policy</h2>
        We reserve the right to change this Privacy Policy at any time. We will notify you of any changes by posting the updated Privacy Policy on this page with an updated date.
        <br><br>
        <h2>Contact Information</h2>
        If you have any questions about this Privacy Policy, please contact us at <a href="/user/admin">veil-contact</a>. </p>
{% endblock %}